<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestNG Suite">
    <test name="Teamo add item" thread-count="1" parallel="false">
        <classes>
            <class name="test.TeamoLoginPageTest">
            </class>
            <class name="test.TeamoHomePageTest">
            </class>
            <class name="test.TeamoUsersPageTest">
            </class>
            <class name="test.TeamoCreateUserTest">
            </class>
        </classes>
    </test>
</suite>